.blog-header {
    font-size: 20px;
}

.blog-body {
    padding: 0 2px;
}

.blog-body h4 {
    margin: 0px 0px;
    font-size: 20px;
}

.blog-body p {
    font-size: 20px;
}

.blog-body p code {
    font-size: 16px;
    background-color: #cccccc;
}

.blog-body blockquote {
    margin: 16px 40px 16px 5px;
    padding: 5px 0px 5px 30px;
    border-left: 5px solid gray;
}

.blog-table {
    font-size: 20px;
    width: 100%;
    max-width: 100%;
    text-align: left;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.blog-table th {
    width: 10%;
    max-width: 15%;
    padding: 4px 10px;
    font-weight: normal;
}

.blog-table td {
    padding: 4px 10px;
    width: 40%;
    max-width: 45%;
}

#back-button {
    width: 100%;
    margin: 10px 5px;
}

#back-button p {
    margin: 0px;
    padding-left: 10px;
    font-size: 16px;
}

#postscript {
    font-style: italic;
}
