html {
	background-color: #fafafa;
	height: 100%;
}

body {
	font-family: "Trebuchet MS", sans-serif;
	height: 100%;
    margin: 0;
    padding: 0;
}

h2 {
	font-size: 40px;
	font-weight: 600;
	margin: 5px;
}

h3 {
	font-size: 28px;
}

h5 {
	font-size: 24px;
	margin-top: 5px;
	margin-bottom: 0px;
}

h6 {
	font-size: 20px;
	margin-top: 5px;
	margin-bottom: 0px;
}

p {
    font-size: 20px;
}

.section-body {
	height: auto;
	width: auto;
	margin-left: 10px;
	margin-right: 10px;
}

a {
	text-decoration: none;
	color: #004094;
}

a:hover {
	text-decoration: underline;
}

.clearfix {
	overflow: auto;
}

.clearfix:after {
	content: "";
	display: table;
	clear: both;
}

.note {
	padding-right: 5px;
	padding-left: 5px;
}

.news-entry {
	padding: 3px 0px;
}

.news-entry p {
	font-size: 18px;
	margin-top: 2px;
	margin-bottom: 5px;
}

#header {
	position: relative;
	text-align: center;
	width: auto;
	font-stretch: expanded;
	background-color: #EEEEEE;
	padding: 5px;
	border-top: 3px solid #4B2E83;
	border-bottom: 3px solid #4B2E83;
	margin-bottom: 5px;
}

#header-logo-container {
	position: absolute;
}

#header-logo {
	height: 50px;
	padding: 0px 20px;
}

#header-title {
	display: inline-block;
}

#main-section {
	display: block;
	max-width: 45em;
	min-height: 100%;
    padding: 10px 25px 15px;
    border-left: 1px solid black;
    border-right: 1px solid black;
	margin: 0 auto;
}

#main-section h3 {
    text-align: left;
    background-color: #DDDDDD;
	padding: 5px;
	margin: 10px 5px;
}

#personal-image {
	float: right;
	height: 200px;
	width: auto;
	padding: 10px 10px;
}

.contact-info {
	font-size: 18px;
}

.contact-info th {
	text-align: right;
	padding: 2px 5px 0px;
}

.contact-info td {
	padding: 2px 5px 0px;
}

#publication-table {
	font-size: 20px;
}

#publication-table td {
	padding: 10px 0px;
}

#publication-table a {
	font-size: 18px;
	padding: 2px 10px 0px 0px;
}

/* Titlebar (not used) */

#titlebar {
	padding: 0px 5px;
}

#titlebar ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

#titlebar li {
  float: left;
}

#titlebar a {
  display: block;
  color: black;
  text-align: center;
  padding: 6px 30px;
  text-decoration: none;
}

#titlebar a:hover {
  color: white;
  background-color: grey;
}
